<!DOCTYPE html>
<head>
<meta charset="utf-8">
<!-- scaling for other devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Luke's reviews</title>
<!-- stylesheet -->
<link rel="stylesheet" href="../static/spiderman.css">

<!-- javascript-->
<script defer src="../static/index.js"></script>

<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap" rel="stylesheet">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- icons -->
<script src="https://kit.fontawesome.com/338c36f7f1.js" crossorigin="anonymous"></script>

<!-- facebook javascript SDK software development kit  -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v17.0" nonce="GHtgI3pK"></script>

<!--
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus nibh ut commodo ornare.
Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet dapibus ac ut eros. Quisque sed sem sollicitudin,
aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer non imperdiet lacus, nec semper risus.
In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida lectus, ac malesuada neque vestibulum vel. Sed non quam consequat,
vehicula tortor pulvinar, porta purus. Morbi volutpat blandit mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum.
Integer hendrerit non enim nec pharetra. Maecenas sed est mi. Aliquam sit amet purus sem. Donec mollis ipsum ac magna gravida, id varius enim scelerisque.
Nulla consectetur convallis ligula, ac gravida neque tincidunt id. Suspendisse potenti. Phasellus consectetur accumsan leo, ullamcorper gravida neque
rhoncus gravida. Proin semper neque sit amet tincidunt tristique. Ut eleifend ultrices risus. Integer ultrices elementum metus, venenatis ornare libero
aliquam nec. Integer tempor nisl dapibus dignissim gravida. Donec ac odio quam. Morbi tempus nulla sed ultricies ultricies. Sed posuere dui id odio venenatis,
nec faucibus dolor molestie. Aliquam erat volutpat. Nullam tincidunt ornare est, id malesuada libero commodo nec. Mauris a metus volutpat, consectetur mi non,
mattis sapien. Vivamus porttitor feugiat accumsan. Sed velit neque, mollis quis turpis in, rutrum iaculis tellus. Quisque id neque eros.
Aliquam ornare, ligula eu scelerisque bibendum, nibh leo porta tellus, in tempor nisi magna pulvinar mi. Sed condimentum scelerisque sem eget ultricies.
Aliquam varius diam non pretium volutpat. Nam semper, enim non cursus pretium, nisi massa lacinia orci, ut gravida justo odio ac nibh. Maecenas vitae enim
convallis, bibendum mauris sollicitudin, euismod lacus. Cras vel vestibulum ex. Cras non augue sem. Maecenas mi velit, fringilla eget risus quis, porttitor
consequat est. Pellentesque vehicula vitae tortor sit amet varius. Etiam vestibulum libero ex, nec aliquet lorem pharetra eu. Donec dignissim risus vel
volutpat bibendum. Vestibulum tincidunt turpis lectus, sit amet vestibulum ante maximus a. Quisque vel posuere mi. Cras et enim rutrum, viverra metus vel,
porttitor lacus. Sed quis justo nec quam tristique volutpat. Suspendisse potenti. Nullam mollis velit neque. Etiam non diam ut nisl ultrices feugiat vitae
malesuada ligula. Donec aliquet eget tortor non pellentesque. Donec sit amet nisl turpis. Donec placerat quam metus, eu fringilla nisi viverra quis.
Morbi accumsan vitae nisl eu maximus. Mauris quis magna dictum, volutpat risus nec, placerat eros.
-->

</head>

<body>
      <nav>
        <div class="navigation-bar">
            <ul>
                <li><a href="index.html">reviews</a></li>
                <li><a href="index.html#about">about</a></li>
            </ul>
        </div>
      </nav>
    <section class="reviews">

        <div class="blog-img">
            <img src="../images/spot11.png">
        </div>
        <div class="blog-img2">
            <img src="../images/spot22.png">
        </div>

        <!-- box 1 -->
        <div class="blog-box">
            <!-- text -->
            <div class="blog-text">
                <h1>SPIDER-MAN: ACROSS THE SPIDER-VERSE</i></h1>
                <div class="stars">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                    <!-- img 1 -->
                <span><i class="fa-regular fa-clock"></i>  2 June 2023</span>
                <a href="#" class="blog-title">SLINGING ACROSS ALL DIMENSIONS</a>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus
                    nibh ut commodo ornare. Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet
                    dapibus ac ut eros. Quisque sed sem sollicitudin, aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer
                    non imperdiet lacus, nec semper risus. In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida
                    lectus, ac malesuada neque vestibulum vel. Sed non quam consequat, vehicula tortor pulvinar, porta purus. Morbi volutpat blandit
                    mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum. Integer hendrerit non enim nec pharetra.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus
                    nibh ut commodo ornare. Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet
                    dapibus ac ut eros. Quisque sed sem sollicitudin, aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer
                    non imperdiet lacus, nec semper risus. In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida
                    lectus, ac malesuada neque vestibulum vel. Sed non quam consequat, vehicula tortor pulvinar, porta purus. Morbi volutpat blandit
                    mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum. Integer hendrerit non enim nec pharetra.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus
                    nibh ut commodo ornare. Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet
                    dapibus ac ut eros. Quisque sed sem sollicitudin, aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer
                    non imperdiet lacus, nec semper risus. In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida
                    lectus, ac malesuada neque vestibulum vel. Sed non quam consequat, vehicula tortor pulvinar, porta purus. Morbi volutpat blandit
                    mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum. Integer hendrerit non enim nec pharetra.
                </p>
                <div class="blog-img3">
                    <img src="../images/spiderversemiles1.png">
                </div>
                <p1>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus
                    nibh ut commodo ornare. Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet
                    dapibus ac ut eros. Quisque sed sem sollicitudin, aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer
                    non imperdiet lacus, nec semper risus. In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida
                    lectus, ac malesuada neque vestibulum vel. Sed non quam consequat, vehicula tortor pulvinar, porta purus. Morbi volutpat blandit
                    mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum. Integer hendrerit non enim nec pharetra.
                    Maecenas sed est mi. Aliquam sit amet purus sem. Donec mollis ipsum ac magna gravida, id varius enim scelerisque. Nulla consectetur
                    convallis ligula, ac gravida neque tincidunt id. Suspendisse potenti. Phasellus consectetur accumsan leo, ullamcorper gravida neque
                </p1>
                <div class="container">

                    <div class="share">

                        <div class="linkedin">
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.example.com" type="text/javascript">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>

                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?text=read this! yunghwa.com/reviews/spiderverse2" data-size="large">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="facebook" data-layout="" data-size="">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fyunghwa.com/reviews/spiderverse2">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="link">
                            <a target="_blank">
                                <i onclick="CopyEmail('LukeMJLee@outlook.com')" class="fa fa-clone" aria-hidden="true"></i>
                            </a>
                            <span class="hovertext">my email address!</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

</body>
</html>